# Machine definitions
[include voronsw/machine.cfg]

# Probe
[include voronsw/probe.cfg]
[include voronsw/dock_macros.cfg]

# Macros
[include voronsw/macros.cfg]

# Calibration
[include voronsw/calibration.cfg]

# Other stuff
[include voronsw/other.cfg]
[include voronsw/lcd_tweaks.cfg]
[include voronsw/menu_overrides.cfg]
[include voronsw/stealthburner_leds.cfg]

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
	100,100,20 # an example

[display]
#    FYSETC mini12864 LCD Display v2.1
lcd_type: uc1701
cs_pin: PB8
a0_pin: PB15
rst_pin: PB9
encoder_pins: ^PA9,^PA10
click_pin: ^!PB5
contrast: 63
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6

[neopixel fysetc_mini12864]
#    To control Neopixel RGB in mini12864 display
pin: PA15
chain_count: 3
initial_RED: 0.078
initial_GREEN: 0.17
initial_BLUE: 1.0
color_order: RGB

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.021875, 0.109375, 0.153125, 0.131250, 0.106250
#*# 	  -0.096875, -0.003125, 0.040625, 0.006250, -0.065625
#*# 	  -0.134375, -0.056250, 0.000000, -0.018750, -0.106250
#*# 	  -0.068750, 0.012500, 0.050000, 0.009375, -0.090625
#*# 	  0.065625, 0.115625, 0.150000, 0.096875, -0.021875
#*# tension = 0.2
#*# min_x = 25.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 35.0
#*# x_count = 5
#*# max_y = 220.0
#*# mesh_x_pps = 2
#*# max_x = 225.0
